$color-uno: #C5DFD6;
$color-dos: #D0AEBB;
$color-tres: #ffffff;
$color-letras1: #13070A;
$color-a1:green;
$color-a2: #265301;
$color-footer1: rgba(101, 143, 75, 0.6);
$color-footer2: rgba(98, 141, 71, 0.6);
$color-seis: rgba(242, 247, 239, 0.6);
$color-transicion1: #faf0f4;
$color-articulo: rgba(82, 116, 61, 0.4);
$color-contacto: rgba(82, 116, 61, 0.6);
$color-info: #dce5e2;


$font-size-footer: 20px;
$font-size-p: 15px;
$font-size-h1: 50px;
$font-size-h3: 30px;
$font-size-info1: 30px;
$font-size-info2: 17px;

